<!doctype html>
<html lang="en">
<head>
    <title>Диво-м магазин</title>
    <meta  charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default" >

  <div class="container-fluid" >
	  <div class="navbar-header">
		  <a class="navbar-brand" href="#"><img src="/img/logo.png" style="padding:0;"></a>
	  </div>
  <div class="collapse navbar-collapse" id="navbar-main" >
	  $mainmenu
    <div class="nav navbar-nav" style="width:100px"></div>
    <form class="navbar-form navbar-left" role="search" action="search">
	    <div class="form-group">
	      <input class="form-control" type="text" placeholder="Поиск" name="search">
	    </div>
      <button class="btn btn-default" type="submit">Поиск</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">$username</a></li>
	    <li><a href="logout">Выйти</a></li>
    </ul>
  </div>
</nav>
<main>
	<article id="main">
		<h2>Активная страница</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
          lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam
          viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent
          et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
          congue enim, ut porta lorem lacinia consectetur.
        </p>

        <h3>Подраздел</h3>

        <p>
          Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem.
          Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
        </p>

        <p>
          Pelientesque auctor nisi id magna consequat sagittis. Curabitur
          dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet.
          Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
        </p>

        <h3>Ещё один подраздел</h3>

        <p>
          Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum
          soclis natoque penatibus et manis dis parturient montes, nascetur
          ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem
          facilisis semper ac in est.
        </p>

        <p>
          Vivamus fermentum semper porta. Nunc diam velit, adipscing ut
          tristique vitae sagittis vel odio. Maecenas convallis ullamcorper
          ultricied. Curabitur ornare, ligula semper consectetur sagittis, nisi
          diam iaculis velit, is fringille sem nunc vet mi.
        </p>		
	</article>
</main>
<footer class="bg-light " style="background-color:lightblue;">
		<p>&copy;<a href="#">Alex</a></p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
